{% extends 'base.html.twig' %}

{% block title %}Année {{ year.name }}{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="mb-4 text-white">Année {{ year.name }}</h1>

        <div class="d-flex flex-column align-items-center gap-4">
            <div class="d-flex justify-content-center gap-4">
                {% for semester in year.semesters[0:3] %}
                <a href="{{ path('app_affectation', {'id': semester.id}) }}" class="text-decoration-none text-black">
                    <div class="card border-0 bg-white position-relative"
                         style="width: 100px; height: 60px; border-radius: 10px;">
                            <div class="d-flex justify-content-center align-items-center h-100 fw-bold"
                                 style="font-size: 1.2rem;">
                                S{{ semester.number }}
                            </div>
                        <span class="position-absolute top-50 start-100 translate-middle p-2 {% if semester.completion == 0 %}bg-danger{% elseif semester.completion >= 1 %} bg-success {% else%} bg-warning {% endif %} border border-light rounded-circle"></span>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center gap-4">
                {% for semester in year.semesters[3:6] %}
                    <a href="{{ path('app_affectation', {'id': semester.id}) }}" class="text-decoration-none text-black">
                    <div class="card border-0 bg-white position-relative"
                         style="width: 100px; height: 60px; border-radius: 10px;">
                            <div class="d-flex justify-content-center align-items-center h-100 fw-bold"
                                 style="font-size: 1.2rem;">
                                S{{ semester.number }}
                            </div>

                        <span class="position-absolute top-50 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Modifier
            </button>
        </div>
    </div>

    <div class="modal fade text-black" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {{ form_start(form) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier l'année</h5>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    <div class="col-md-6">
                            {{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary m-3">Sauvegarder</button>

                    {{ form_end(form) }}
                    <form method="post" action="{{ path('app_year_show', { id: year.id }) }}" id="deleteForm">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ year.id) }}">
                        <button type="submit" class="btn btn-danger text-white" id="deleteButton">Supprimer</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById("deleteButton").addEventListener("click", function() {
            let confirmation = confirm("Confirmez-vous la suppression définitive de l'année ?");
            if (confirmation) {
                document.getElementById("deleteForm").submit();
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
