{{ form_start(form) }}
    {{ form_row(form.email, {'label' : 'Adresse mail' }) }}
    {{ form_row(form.login, {'label' : 'Login' }) }}
    {{ form_row(form.firstname, {'label' : 'Prénom' }) }}
    {{ form_row(form.lastname, {'label' : 'Nom' }) }}
    {{ form_row(form.roles, {'label' : "Roles"}) }}
    <div id="hour">
        {{ form_row(form.hoursMax, {'label' : "Nombre d'heures maximal" }) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

<script>
    // hide or show hoursMax field according to user roles selection
    function toggleHourVisibility() {
        const roles = document.getElementById('user_roles');
        const hour = document.getElementById('hour');
        if (roles.selectedOptions.length === 1 && roles.value ===  '{{ ad }}') {
            hour.style.visibility = 'hidden';
            document.getElementById('user_hoursMax').value = 0;
        } else {
            hour.style.visibility = 'visible';
        }
    }
    toggleHourVisibility();
    document.getElementById('user_roles').addEventListener('change', toggleHourVisibility);
</script>


