{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.lastname, 'Nom *', {'label_attr': {'class': 'form-label text-white'}}) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.login, 'Identifiant *', {'label_attr': {'class': 'form-label text-white'}}) }}
            {{ form_widget(form.login, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.firstname, 'Prénom *', {'label_attr': {'class': 'form-label text-white'}}) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.email, 'Email *', {'label_attr': {'class': 'form-label text-white'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.roles, 'Rôle *', {'label_attr': {'class': 'col-sm-2 form-label'}}) }}
            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.hoursMax, "Nombre d'heures en dehors du département *", {'label_attr': {'class': 'form-label text-white'}}) }}
            {{ form_widget(form.hoursMax, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.isAdministration, 'Activité *', {'label_attr': {'class': 'form-label text-white'}}) }}
            {{ form_widget(form.isAdministration, {'attr': {'class': 'form-check-input'}}) }}
        </div>
    </div>
</div>

<div class="d-flex justify-content-end mt-4">
    <button class="btn btn-primary me-2">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn btn-danger me-2" type="button"><a href="{{ path('app_user_index') }}" style="text-decoration:none; color: white">Annuler</a></button>
</div>

{{ form_end(form) }}



<script>
    // hide or show hoursMax field according to user roles selection
    function toggleHourVisibility() {
        const isAdministration = document.getElementById('user_isAdministration');
        const roles = document.getElementById('user_roles');
        const hour = document.getElementById('hour');
        if (isAdministration.checked && !roles.selectedOptions.length) {
            hour.style.visibility = 'hidden';
            document.getElementById('user_hoursMax').value = 0;
        } else {
            hour.style.visibility = 'visible';
        }
    }
    toggleHourVisibility();
    document.getElementById('user_isAdministration').addEventListener('change', toggleHourVisibility);
    document.getElementById('user_roles').addEventListener('change', toggleHourVisibility);
</script>


