{% extends 'base.html.twig' %}

{%  set title = "Listes des utilisateurs" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <a class="btn btn-primary" href="{{ path('app_user_new') }}">Créer un utilisateur</a>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actif</th>
                <th>Login</th>
                <th>Nombre d'heures maximal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul>
                        {% for role in user.roles | filter(r => r != 'ROLE_USER') %}
                            <li class="list-group-item">{{ role }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ user.isActive ? 'Oui' : 'Non' }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.hoursMax }}</td>
                <td>
                    {% if user.isActive %}
                        <a class="btn btn-danger" href="{{ path('app_user_deactivate', {'id': user.id}) }}">Désactiver</a>
                    {% else %}
                        <a class="btn btn-success" href="{{ path('app_user_activate', {'id': user.id}) }}">Activer</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
