{% extends 'base.html.twig' %}

{%  set title = "Liste des utilisateurs" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-3 mt-2">
        <h1>{{ title }}</h1>
        <a class="btn btn-primary rounded-pill p-2" href="{{ path('app_user_new') }}">Ajouter</a>
    </div>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Identifiant</th>
            <th>Activité</th>
            <th></th>
            <th>Heures maximales</th>
            <th>Rôles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.login }}</td>
                <td>
                    {% if user.isActive %}
                        <p>Actif</p>
                    {% else %}
                        <p>Inactif</p>
                    {% endif %}
                </td>
                <td>
                    {% if user.isActive %}
                        <a class="btn btn-danger btn-sm rounded-pill" href="{{ path('app_user_deactivate', {'id': user.id}) }}">Désactiver</a>
                    {% else %}
                        <a class="btn btn-success btn-sm rounded-pill" href="{{ path('app_user_activate', {'id': user.id}) }}">Activer</a>
                    {% endif %}
                </td>
                <td>{{ user.hoursMax }}</td>
                <td>
                    {% for role in user.roles %}
                        <span class="badge bg-secondary">{{ role }}</span>
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm rounded-pill" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11" class="text-center">Pas d'utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
